@font-face {
    font-family: CustomFont;
    src: url("https://yoursite.com/css/fonts/CustomFont.eot");
    src: url("https://yoursite.com/css/fonts/CustomFont.woff") format("woff"), url("https://yoursite.com/css/fonts/CustomFont.otf") format("opentype"), url("https://yoursite.com/css/fonts/CustomFont.svg#filename") format("svg");
    font-family: gravity;
    src: url("font/Gravity-Light.otf");
}

body {
    padding: 0;
    margin: 0;
}

header {
    margin-top: 0px;
}

.logo-row {
    width: 280px;
    margin: 0 auto;
}

.logo {
    width: 90%;
    height: 160px;
    text-align: center;
}

body,
html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("Images/sandunes\ edit.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-box-shadow: 4px 4px 14px #000;
    -webkit-box-shadow: 4px 4px 14px #000;
    box-shadow: 4px 4px 14px #000;
}

.menu {
    list-style-type: none;
    padding: 0;
    width: 200px;
    position: fixed;
    bottom: 0;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    text-decoration: none;
    text-shadow: #000;
    font-family: monospace;
    font-weight: bold;
    font-size: 14pt;
}

.menu a:hover {
    color: black !important;
    text-transform: uppercase;
    text-decoration: none;
    background: white;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

del {
    text-decoration: line-through;
    text-decoration-color: white;
}

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-size: 62.5%;
}

#myCarousel {
    max-width: 900px;
    /* padding-top: 60px; */
    -moz-box-shadow: 4px 4px 14px #000;
    -webkit-box-shadow: 4px 4px 14px #000;
    box-shadow: 8px 8px 16px #000;
    left: 180px;
    /* -moz-border-radius: 12px;
      -webkit-border-radius: 12px; */
    height: 550px !important;
    /* margin: 0px 20px 20px 20px; */
}


/* .contactcontainer {
    height: 0px !important;
} */

.soundcloud {
    height: 500px !important;
    padding-top: 50px;
}

.photoslide {
    height: 500px !important;
    padding-top: 50px;
    /* margin: 0px 20px 0px 20px; */
}

.photoslive>iframe {
    height: 200px;
    right: 220px;
}

.contactimg {
    border-radius: 50%;
    position: absolute;
    display: block;
    top: 200px;
    left: 250px;
    color-adjust: black;
    -moz-box-shadow: 8px 8px 32px #000;
    -webkit-box-shadow: 8px 8px 32px #000;
    box-shadow: 8px 8px 32px #000;
}

.button {
    padding-top: 120px;
    text-align: center;
    color: white;
    text-emphasis-color: white;
    text-decoration: none;
    cursor: pointer;
    height: 10px;
}

.contactimg2 {
    border-radius: 50%;
    position: absolute;
    display: block;
    top: 200px;
    left: 770px;
    -moz-box-shadow: 8px 8px 32px #000;
    -webkit-box-shadow: 8px 8px 32px #000;
    box-shadow: 8px 8px 32px #000;
}


/* social icons */

.socialicons {
    text-align: center;
    padding-top: 0%;
    margin: 0px 200px 10px 200px;
}

.social-icons {
    text-align: center;
}

.social-icons li {
    display: inline-block;
    list-style-type: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.social-icons li a {
    border-bottom: none;
}

.social-icons li img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    padding-top: 0px;
    -moz-box-shadow: 4px 4px 14px white;
    -moz-window-shadow: 4px 4px 14px white;
}

.social-icons:after {
    content: "";
    background: rgb(255, 255, 255);
    display: block;
    position: absolute;
    padding-top: 20px;
    padding-left: 40%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.social-icons:active:after {
    padding: 0;
    /* margin: 0; */
    opacity: 1;
    transition: 0s
}

.managerdetails {
    border-radius: 5%;
    height: 100px;
    width: 300px;
    /* margin: 20px 10px 20px; */
    position: relative;
    position: absolute;
    display: block;
    top: 450px;
    left: 250px;
    background-color: white;
    -moz-box-shadow: 8px 8px 32px #000;
    -webkit-box-shadow: 8px 8px 32px #000;
    box-shadow: 8px 8px 32px #000;
}

.riskydetails {
    border-radius: 5%;
    height: 100px;
    width: 300px;
    /* margin: 20px 10px 20px; */
    position: relative;
    position: absolute;
    display: block;
    top: 450px;
    left: 700px;
    background-color: white;
    -moz-box-shadow: 8px 8px 32px #000;
    -webkit-box-shadow: 8px 8px 32px #000;
    box-shadow: 8px 8px 32px #000;
}


/* contact */

h1 {
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
}

h2 {
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-shadow: 2px 2px 4px #000000;
    font-family: gravity;
}

@media only screen and (max-width: 700px) {
    .social-icons {
        max-width: 100%;
        height: auto;
    }
}

#myCarousel[data-src-600px] {
    content: attr(data-src-600px, url);
}

.menu {
    max-width: 100%;
    height: auto;
}

header {
    max-width: 100%;
    height: auto;
}


/* Media Queries: Tablet Landscape */

@media screen and (max-width: 1060px) {
    #primary {
        width: 67%;
    }
    #secondary {
        width: 30%;
        margin-left: 3%;
    }
}


/* Media Queries: Tabled Portrait */

@media screen and (max-width: 768px) {
    #primary {
        width: 100%;
    }
    #secondary {
        width: 100%;
        margin: 0;
        border: none;
    }
}

.grid-container {
    display: grid;
    height: 550px;
    align-content: space-evenly;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 0px;
}

.grid-container>.contactimg {
    border-radius: 50%;
    /* margin: 20px 10px 20px; */
    position: absolute;
    display: block;
    top: 200px;
    left: 250px;
    color-adjust: black;
    -moz-box-shadow: 8px 8px 32px #000;
    -webkit-box-shadow: 8px 8px 32px #000;
    box-shadow: 8px 8px 32px #000;
}

.grid-container>.contactimgtama {
    border-radius: 50%;
    /* margin:20px 10px 100px; */
    position: absolute;
    display: block;
    top: 200px;
    left: 770px;
    -moz-box-shadow: 8px 8px 32px #000;
    -webkit-box-shadow: 8px 8px 32px #000;
    box-shadow: 8px 8px 32px #000;
}

.grid-container>.managerdetails {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 80px 0;
    font-size: 30px;
    left: 15%;
}

.grid-container>.riskydetails {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 80px 0;
    font-size: 30px;
    left: 57%;
}

p {
    top: -100px;
    position: relative;
}